<img src="data:image/png;base64, <%= ori.toString('base64') %>" />
<p>Height : <%= metaori.height%></p>
<p>Width : <%= metaori.width%></p>
<img src="data:image/png;base64, <%= resized.toString('base64') %>" />
<p>Height : <%= metaresize.height%></p>
<p>Width : <%= metaori.width%></p>